<div class="container">
    <div class="about text-center">
        <h1>Star List</h1>
        <p>Small application that lists your favorite Star Wars characters.</p>
        <p>Made Specialy for <a href="http://invillia.com" target="_blank">Invillia.com</a></p>
        <img class="deatstar" src="../../assets/death-star-star-wars.svg">
    </div>
</div>
