<div id="nav">
    <img class="logo" alt="Logo" src="../assets/logo-8.png">
    <div class="links">
    <a [routerLink]="['/home']" routerLinkActive="active">The List</a> |
    <a [routerLink]="['/about']" routerLinkActive="active">About</a>
    </div>
    <img alt="r2d2" class="r2d2" src="../assets/r2d2.svg">
</div>
<div class="container" [@routeAnimations]="prepareRoute(outlet)" >
    <router-outlet #outlet="outlet"></router-outlet>
</div>
<div class="footer">
    <p>Made With Love</p>
</div>