<div class="sub-header text-center">
    <p style="display: none;" class="float-left" v-if="personagens_total">personagens_total caracters for search!</p>
    <div class="text-right">
      <button class="btn prev" type="button" (click)="paginatePrev()" *ngIf="prevBtn">Previous</button>
      <button class="btn" type="button" (click)="paginateNext()" *ngIf="nextBtn" v-if="pagina_next">Next</button>
    </div>
</div>
<div class="loader" *ngIf="loading; else elseBlock2">
  <h3 class="text-center loader-title">Loading...</h3>
  <div class="bb8">
    <div class="antennas">
      <div class="antenna short"></div>
      <div class="antenna long"></div>
    </div>
    <div class="head">
      <div class="stripe one"></div>
      <div class="stripe two"></div>
      <div class="eyes">
        <div class="eye one"></div>
        <div class="eye two"></div>
      </div>
      <div class="stripe three"></div>
    </div>
    <div class="ball rotating">
      <div class="lines one"></div>
      <div class="lines two"></div>
      <div class="ring one"></div>
      <div class="ring two"></div>
      <div class="ring three"></div>
    </div>
    <div class="shadow"></div>
  </div>
</div>
<ng-template #elseBlock2>
  <div class="colum">
    <div class="card-holder">
      <div *ngFor="let c of customers" class="card text-center">
        <div class="card-header">
          <h3 class="card-title">
            {{c.name}}
          </h3>
        </div>
        <h4 class="text-muted">Personal Data</h4>
        <ul class="data-list">
          <li class="data-item">Height: {{c.height}}</li>
          <li class="data-item">Mass: {{c.mass}}</li>
          <li class="data-item">Hair Color: {{c.hair_color}}</li>
          <li class="data-item">Eye Color: {{c.eye_color}}</li>
          <li class="data-item">Birth Year: {{c.birth_year}}</li>
          <li class="data-item">Gender: {{c.gender}}</li>
        </ul>
        <ul *ngIf="c.starships?.length > 0; else elseBlock">
          <li>
            <h4>Starships</h4>
          </li>
          <li *ngFor="let s of c.starships">

            <button (click)="btnAction(s)" class="btn" style="margin-bottom:5px" >{{ s }}</button>
            <!-- <button (click)="btnAction({{s}})">
              Teste Click
            </button> -->
          </li>
        </ul>
        <ng-template #elseBlock><h4 class="text-muted" >No Starships</h4></ng-template>
      </div>
      <div class="modal fade-in" *ngIf="modalShow">
          <div class="modal-container">
            <button type="button" class="btn btn-close float-right" (click)="closeModal()" >X</button>
            <h2 class="modal-title text-center">{{starshipInfo.name}}</h2>
            <div class="clearfix"></div>
            <div>
              <h3>Information</h3>
              <p>Model: {{starshipInfo.model}}</p>
              <p>Manufacturer: {{starshipInfo.manufacturer}}</p>
              <p>Cost: {{starshipInfo.cost_in_credits}}</p>
              <p>Length: {{starshipInfo.length}}</p>
              <p>Crew: {{starshipInfo.crew}}</p>
              <p>Passengers: {{starshipInfo.passengers}}</p>
              <p>Cargo Capacity: {{starshipInfo.cargo_capacity}}</p>
              <p>Consumables: {{starshipInfo.consumables}}</p>
              <p>Hyperdrive Ratin: {{starshipInfo.hyperdrive_rating}}</p>
            </div>
          </div>
        </div>
    </div>
  </div>
</ng-template>