/* You can add global styles to this file, and also import other style files */
/* Global Styles */

* {
    font-family: 'Roboto', Arial, sans-serif;
    color: #616161;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  router-outlet + *  {
    padding: 0 16px;
  }
  
  /* Text */
  
  h1 {
    font-size: 32px;
  }
  
  h2 {
    font-size: 20px;
  }
  
  h1, h2 {
    font-weight: lighter;
  }
  
  p {
    font-size: 14px;
  }
  
  /* Hyperlink */
  
  a {
    cursor: pointer;
    color: #1976d2;
    text-decoration: none;
  }
  
  a:hover {
    opacity: 0.8;
  }
  
  /* Input */
  
  input {
    font-size: 14px;
    border-radius: 2px;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #BDBDBD;
  }
  
  label {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 4px;
    display: block;
    text-transform: uppercase;
  }
  
  /* Button */
  .button, button {
    display: inline-flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: 2px;
    font-size: 14px;
    cursor: pointer;
    background-color: #1976d2;
    color: white;
    border: none;
  }
  
  .button:hover, button:hover {
    opacity: 0.8;
  }
  
  .button:disabled, button:disabled {
    opacity: 0.5;
    cursor: auto;
  }
  
  /* Fancy Button */
  
  .fancy-button {
    background-color: white;
    color: #1976d2;
  }
  
  .fancy-button i.material-icons {
    color: #1976d2;
    padding-right: 4px;
  }
  
  
  
  /* Checkout Cart, Shipping Prices */
  
  .cart-item, .shipping-item {
    width: 100%;
    min-width: 400px;
    max-width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 32px;
    margin-bottom: 8px;
    border-radius: 2px;
    background-color: #EEEEEE;
  }
  
  
  /*
  Copyright Google LLC. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at http://angular.io/license
  */
  
  
  
  body {
    padding: 0;
    margin: 0;
    background-color: #9e9e9e;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  .loader {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(51, 51, 51, 0.88);
  }
  .loader-title {
    margin-bottom: 80px;
    color: #fff;
  }
  .btn {
    background-color: #fbe41f;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 800;
    color: #505050;
  }
  .btn:hover,
  .btn:active,
  .btn:focus {
    background-color: #333;
    color: #fff;
  }
  .btn:disabled {
    background: #ccc;
    color: #505050;
    opacity: 0.7;
  }
  .btn.prev {
    margin-right: 5px;
  }
  .text-center {
    text-align: center;
  }
  .text-right {
    text-align: right;
  }
  .text-muted {
    color: #9c9c9c;
  }
  .float-left {
    float: left;
  }
  .float-right {
    float: right;
  }
  .clearfix {
    clear: both;
  }
  .container {
    padding: 0 30px;
  }
  .sub-header {
    padding: 25px 0;
  }
  .card-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .card {
    width: calc(33% - 60px);
    background-color: #fff;
    border-radius: 20px;
    margin: 10px 0;
    overflow: hidden;
    transition: all 0.3s;
  }
  .card:hover,
  .card:active,
  .card:focus {
    transform: scale(1.03);
  }
  .card-header {
    border-bottom: solid 6px #d5d5d5;
    background-color: #bebebe;
  }
  .card-title {
    margin: 0;
    padding: 10px 0;
  }
  .upper {
    text-transform: capitalize;
  }
  .modal {
    position: fixed;
    z-index: 9;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    padding: 0 30px;
    box-sizing: border-box;
    overflow-y: auto;
  }
  .modal-container {
    margin: 30px auto;
  }
  .modal-title {
    margin-top: 0;
  }
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 1s;
    opacity: 1;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    transition: opacity 0.5s;
    opacity: 0;
  }
  .slide-fade-enter-active {
    transition: all 0.3s ease;
  }
  .slide-fade-leave-active {
    transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
  }
  .slide-fade-enter,
  .slide-fade-leave-to {
    transform: translateX(10px);
    opacity: 0;
  }
  
  .deatstar {
    display: block;
    margin: 50px auto;
  }
  
  /* bb8 */
  
  .bb8 {
    position: absolute;
    width: 140px;
    bottom: 20%;
    left: calc(50% - 70px);
  }
  .antennas {
    position: absolute;
    transition: left 0.6s;
    left: 22%;
  }
  .antennas.right {
    left: 0%;
  }
  .antenna {
    background: #e0d2be;
    position: absolute;
    width: 2px;
  }
  .antenna.short {
    height: 20px;
    top: -60px;
    left: 50px;
  }
  .antenna.long {
    border-top: 6px solid #020204;
    border-bottom: 6px solid #020204;
    height: 36px;
    top: -78px;
    left: 56px;
  }
  .head {
    background: #e0d2be;
    border-radius: 90px 90px 14px 14px;
    height: 56px;
    margin-left: -45px;
    overflow: hidden;
    position: absolute;
    width: 90px;
    z-index: 1;
    top: -46px;
    left: 50%;
  }
  .head .stripe {
    position: absolute;
    width: 100%;
  }
  .head .stripe.one {
    background: #999;
    height: 6px;
    opacity: 0.8;
    z-index: 1;
    top: 6px;
  }
  .head .stripe.two {
    background: #cd7640;
    height: 4px;
    top: 17px;
  }
  .head .stripe.three {
    background: #999;
    height: 4px;
    opacity: 0.5;
    bottom: 3px;
  }
  .head .eyes {
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    transition: left 0.6s;
    left: 0%;
  }
  .head .eyes.right {
    left: 36%;
  }
  .head .eye {
    border-radius: 50%;
    display: block;
    position: absolute;
  }
  .head .eye.one {
    background: #020204;
    border: 4px solid #e0d2be;
    height: 30px;
    width: 30px;
    top: 12px;
    left: 12%;
  }
  .head .eye.one:after {
    background: white;
    border-radius: 50%;
    content: '';
    display: block;
    height: 3px;
    position: absolute;
    width: 3px;
    top: 4px;
    right: 4px;
  }
  .head .eye.two {
    background: #e0d2be;
    border: 1px solid #020204;
    height: 16px;
    width: 16px;
    top: 30px;
    left: 40%;
  }
  .head .eye.two:after {
    background: #020204;
    border-radius: 50%;
    content: '';
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    top: 2px;
    left: 2px;
  }
  .ball {
    background: #d1c3ad;
    border-radius: 50%;
    height: 140px;
    overflow: hidden;
    position: relative;
    width: 140px;
  }
  .lines {
    border: 2px solid #b19669;
    border-radius: 50%;
    height: 400px;
    opacity: 0.6;
    position: absolute;
    width: 400px;
  }
  .lines.two {
    top: -10px;
    left: -250px;
  }
  .ring {
    background: #cd7640;
    border-radius: 50%;
    height: 70px;
    margin-left: -35px;
    position: absolute;
    width: 70px;
  }
  .ring:after {
    background: #d1c3ad;
    border-radius: 50%;
    content: '';
    display: block;
    height: 70%;
    margin-top: -35%;
    margin-left: -35%;
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
  }
  .ring.one {
    margin-left: -40px;
    height: 80px;
    width: 90px;
    top: 6%;
    left: 50%;
  }
  .ring.two {
    height: 38px;
    width: 76px;
    -ms-transform: rotate(36deg);
    -webkit-transform: rotate(36deg);
    transform: rotate(36deg);
    top: 70%;
    left: 18%;
  }
  .ring.two:after {
    top: 100%;
  }
  .ring.three {
    height: 30px;
    -ms-transform: rotate(-50deg);
    -webkit-transform: rotate(-50deg);
    transform: rotate(-50deg);
    top: 66%;
    left: 90%;
  }
  .ring.three:after {
    top: 110%;
  }
  .shadow {
    background: #3a271c;
    border-radius: 50%;
    height: 23.3333333333px;
    opacity: 0.7;
    position: absolute;
    width: 140px;
    z-index: -1;
    left: 5px;
    bottom: -8px;
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
  }
  /* bb8 */
  .fade-in{
  -webkit-animation: fadein 0.3s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein 0.3s; /* Firefox < 16 */
      -ms-animation: fadein 0.3s; /* Internet Explorer */
        -o-animation: fadein 0.3s; /* Opera < 12.1 */
          animation: fadein 0.3s;
  }
  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
    
  @media (max-width: 767px) {
    .container {
      padding: 0 15px;
    }
    .card {
      width: 100%;
      margin: 10px 0;
    }
    .card-holder {
      padding: 0;
    }
    .logo {
      width: 20vw;
      max-width: 150px;
    }
    .deatstar {
      max-width: 50%;
    }
  }
  @media (min-width: 768px) {
    .card {
      width: calc(50% - 8px);
    }
    .deatstar {
      max-width: 33%;
    }
  }
  @media (min-width: 998px) {
    .card {
      width: calc(33% - 6px);
    }
    .deatstar {
      max-width: 25%;
    }
  }
  @media (min-width: 1280px) {
    .card {
      width: calc(25% - 15px);
    }
  }
  
  
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #505050;
  }
  .r2d2{
    justify-self: baseline;
    align-self: auto;
    width: 13vw;
    max-width: 112px;
    transition: 0.3s all ease-in-out;
    transform: translate(0, 83px);
  }
  #nav {
    overflow: hidden;
    padding: 30px;
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #nav a {
    padding-left: 10px;
    font-weight: bold;
    color: #2c3e50;
  }
  #nav a.active {
    color: #eee;
  }
  .footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    background-color: #c1c1c1;
    margin-top: 50px;
  }
  #nav:hover .r2d2{transform: translate(0, 35px);}
  .logo{
    width: 15vw;
    max-width: 150px;
  }
  @media (max-width: 767px) {
    .r2d2 {
      transform: translate(0, 56px);
    }
    #nav:hover .r2d2 {
      transform: translate(0, 30px);
    }
  }